extends layout

block content
	div.canvas-screen
		canvas#image-map(width='1653', height='918').hidden
		div.next-object.hidden
			h2 Find me!
			img(src="/images/pok1.png")

	div.splash-screen
		img(src="images/mag7logo.png")

	div.connect.hidden
		input(type="text", name="username", placeholder="Please enter your name")
		button#connect Connect

	div.ready-screen.hidden
		button#ready READY
		p.count-down.hidden 5