extends layout

block content
	div.canvas-screen
		canvas#image-map(width='1653', height='950').hidden
		div.next-object.hidden
			h2 Find me!
			img(src="/images/pok1.png")

	div.splash-screen
		img(src="images/mag7logo.png")

	div.connect.hidden
		input(type="text", name="username", placeholder="Please enter your name")
		button#connect Connect

	div.ready-screen.hidden
		p.waiting Waiting for more players...
		button#ready.hidden READY
		p.count-down.hidden 5

	div.game-over.hidden
		h2 GAME OVER
		table.highscore