extends layout

block contents
	h1 hello!
	script(src='/socket.io/socket.io.js')
	script(type='text/javascript').
		var socket = io.connect();
		socket.emit('joinGame', {username: 'Kalle'});
		
		socket.on('preloadGame', function (data) {
			console.log(data);	
		});
		

		socket.on('showReady', function(data)
		{
			console.log(data);
		});

		socket.on('startGame', function(data)
		{
			console.log(data);
		});

		socket.on('clickCallback', function(data)
		{
			console.log(data);
		})


		socket.emit('clientReady', {ready:true});

		socket.emit('clientClick', {x: 1, y: 2});
	p hej