doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(data-main='/javascripts/main.js', src='/javascripts/vendor/require.js')

		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

		body
			block content