html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figure,
figcaption,
hgroup,
menu,
footer,
header,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
a img {
  border: 0;
}
body {
  background-color: #000000;
  color: #ffffff;
  font-family: Helvetica, sans-serif;
}
canvas {
  margin-top: 1em;
}
.splash-screen {
  text-align: center;
  margin-top: 40%;
}
.connect,
.ready-screen,
.next-object,
.game-over {
  width: 80%;
  margin: 40% auto;
  font-size: 2em;
}
.connect input,
.ready-screen input,
.next-object input,
.game-over input,
.connect button,
.ready-screen button,
.next-object button,
.game-over button {
  box-sizing: border-box;
  width: 100%;
}
.connect input,
.ready-screen input,
.next-object input,
.game-over input {
  padding: 0.5em;
  border: none;
  border-radius: 0.3em;
}
.connect button,
.ready-screen button,
.next-object button,
.game-over button {
  margin-top: 1em;
  background-color: #d60039;
  color: #fff;
  height: 2em;
  border: none;
  border-radius: 0.3em;
}
.connect button.ready,
.ready-screen button.ready,
.next-object button.ready,
.game-over button.ready {
  background-color: #40d156;
}
.connect .count-down,
.ready-screen .count-down,
.next-object .count-down,
.game-over .count-down {
  color: #fff;
  font-size: 10em;
  text-align: center;
  margin-top: -20%;
  padding-top: 0;
  line-height: 1;
}
.next-object {
  text-align: center;
}
.hidden {
  display: none;
}
.game-over {
  text-align: center;
}
.highscore {
  width: 50%;
  margin: 1em auto;
}
.highscore td {
  text-align: left;
}
.highscore td + td {
  text-align: right;
}
.hud {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #d60039;
  color: #fff;
  font-size: 0.8em;
  line-height: 2em;
}
.hud .client-name {
  margin-left: 1em;
}
.hud .client-score {
  margin-left: .5em;
  font-weight: bold;
}
.hud .client-diff {
  font-size: .9em;
  font-weight: normal;
}
.hud .weapon {
  float: right;
  margin-right: 1em;
}
